{% extends 'events/base.html' %}
{% block title_block %}Create Blog | My Club{% endblock title_block %}
{% load crispy_forms_tags %}
{% block body_color %}
body{
  {% comment %} background:red; {% endcomment %}
}
{% endblock body_color %}
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
    <div class="row shadow p-3 mb-5 rounded">
      <div class=" col-md-8 offset-md-2">
        {% if user.is_superuser %}
        <h3 class="text-center text-danger">Create a new Post</h3><hr>
        <form  method="POST"  enctype="multipart/form-data" novalidate>
          {{form|crispy}}
          {% csrf_token %} <br>
          <button type="submit" class="btn btn-success btn-sm">Publish</button>
        </form>
        {% else %}
        <h5 class='text-danger'>You are not Administrator, You can't create a Blog..!</h5>
        {% endif %}
      </div>
    </div>

  </div>
		{% endblock content %}


