{% extends 'events/base.html' %}

    {% block content %}
      {% if request.user.is_authenticated %}
          <div class="row">
      <div class="col-8"><h1>Events List</h1></div>
      <div class="col-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Text File</a><div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">PDF File</a><div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">CSV File</a>
            </div>
        </div>
      </div>
    </div>
      {% endif %}
      {% for event in events %}
      <div class="card bg-light mb-3">
  <div class="card-header" style="color:#2196f3;"> <strong> <h4>{{event | title}}</h4> </strong></div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{event.venue | title}}</h5>
    <ul>
        <li>Date: {{event.event_date}}</li>
        <li>Venue Website: <a href="{{event.venue.web}}" target="_blank">{{event.venue.web}}</a> </li>
        <li>Venue Address: {{event.venue.address}}</li>
        <li>Manager: {{event.manager}}</li>
        <li>Description: {{event.description}}</li> 
        <li>Attendees:<br/>
        {% for userattend in event.attendees.all %}
         > {{userattend}}<br> <!-- {{event.attendees.all}} -->
        {% endfor %}
        </li>
      </ul>
        <br>
  </div>
  {% if request.user.is_authenticated %}
    {% if user == event.manager %}
      <div class="card-footer" style="color:#2196f3;">
        <a href="{% url 'update-event' event.id %}" class="btn btn-info" >Update Event</a>
        {% if perms.event.delete_post %}
        <a href="{% url 'delete-event' event.id %}" class="btn btn-danger" >Delete Event</a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</div>
      
      
      {% endfor %}
      {% for x in object_list %}
        {{x}}
      {% endfor %}
    {% endblock content %}
    
