{% extends 'events/base.html' %}

    {% block content %}
        <div class="row">
          <div class="col-8">
            <h2>Event Approval</h2>
          </div>
          <div class="col-4">
            <strong class="float-right" style="padding:10px">Total Event: {{ event_count }}</strong>
          </div>
        </div><hr>
        <form action="" method="POST">
          {% csrf_token %}
        
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th class="text-center" scope="col">Approved</th>
              </tr>
            </thead>{% for event in events_list %}
          <tbody>
            <tr class="table-success text-dark">
              <th scope="row">{{forloop.counter}}</th>
              <td>{{event.name | title}}</td>
              <td class="text-center">
                {% if event.approved %}
                <div class="from-check">
                  <input class="from-check-input" type="checkbox" checked='checked' value="{{event.id}}" name="boxes">
                </div>
                {% else %}
                <div class="from-check">
                  <input class="from-check-input" type="checkbox" value="{{event.id}}" name="boxes">
                </div>
                {% endif %}
              </td>
            </tr>
          </tbody>{% endfor %}
        </table>

      <br>
      <button class="btn btn-info" type="submit">Update Approval</button>
      </form>
      <br><br>
    {% endblock content %}
    
