{% extends 'events/base.html' %}

    {% block content %}
      <center>
      <div class="card">
  <h1 class="card-header">Welcome to My Club</h1>
  <div class="card-body">
    <h5 class="card-title"><p>{{month}}, {{year}}</p></h5>
    <p class="card-text"><h3>Month no: {{month_number}}</h3>
      Time: {{time}}
      {{cal|safe}}</p>
      <!-- {{now}}  -->
      <br><br>
  </div>
</div>
<h6 class="card-footer">Copyrights(c) - {{current_year}}</h6>

      </center>
    {% endblock content %}
    
  