{% extends 'events/base.html' %}

    {% block content %}
    <h2>My Events </h2><hr>
      
    {% for event in events %}
      {% if user == event.manager %}
        <div class="card bg-light mb-3">
          <div class="card-header" style="color:#2196f3;"> <strong> <h4>{{event | title}}</h4> </strong></div>
            <div class="card-body">
              <h5 class="card-title">Venue: {{event.venue | title}}</h5>
              <ul>
                <li>Date: {{event.event_date}}</li>
                <li>Venue Website: <a href="{{event.venue.web}}" target="_blank">{{event.venue.web}}</a> </li>
                <li>Venue Address: {{event.venue.address}}</li>
                <!-- <li>Manager: {{event.manager}}</li> -->
                <li>Description: {{event.description}}</li> 
                <li>Attendees:<br/>
                  {% for userattend in event.attendees.all %}
                    <span> > </span> {{userattend}}<br> <!-- {{event.attendees.all}} -->
                  {% endfor %}
                </li>
              </ul>
                <br>
            </div>
            <div class="card-footer" style="color:#2196f3;">
              <a href="{% url 'update-event' event.id %}" class="btn btn-info" >Update Event</a>
              <!-- {% if perms.event.delete_post %} --><!-- {% endif %} -->
              <a href="{% url 'delete-event' event.id %}" class="btn btn-danger" >Delete Event</a>
            </div></div>
      {% endif %}
    {% endfor %}
    
    {% endblock content %}
    
