<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">My Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list-events' %}">Events</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'add-event' %}">Add Event</a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list-venue' %}">Venues</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'add-venue' %}">Add Venue</a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          @{{user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'home' '2021' 'March' %}">March</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <!-- <a class="dropdown-item" href="{% url 'login' %}">Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a> -->
        </div>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signup' %}">Registration</a>
      </li>
      {% endif %}
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Download
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'venue-text' %}">Text File</a>
          <a class="dropdown-item" href="{% url 'venue-csv' %}">CSV File</a>
          <a class="dropdown-item" href="#">PDF File</a>
      </li> -->
      
    </ul>
    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searchany' %}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" name="searched" placeholder="Event or Venue" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>