{% extends 'events/base.html' %}

    {% block content %}

      <h1>Venue Details</h1>
          <div class="card bg-light mb-3">
            <div class="card-header"><b>Venue name: {{venue.name | title}}</b>
              {% if venue.book == 1 %}
              <p class="float-right disabled" style="color:white;padding: 7px;background-color: #dc3545; border-radius: 5px;">Already Reserve</p>
              {% else %}
              <a class="btn btn-primary float-right text-light" >Reserve Now</a>
              {% endif %}
            </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-7">
                    <ul>
                  {% if venue.address %}
                  <li>Address: {{venue.address}}</li>
                  {% endif %}
                  {% if venue.phone %}
                  <li>Phone: {{venue.phone}}</li>
                  {% endif %}
                  {% if venue.email %}
                  <li>Email: {{venue.email}}</li>
                  {% endif %}
                  {% if venue.web %}
                  <li>Website: <a href="{{venue.web}}" target="_blank">{{venue.web}}</a></li>
                  {% endif %}
                  {% if venue.owner %}
                  <li>Owner ID: {{venue.owner}}</li>
                  <!-- <li>Owner name: {{user.id}}</li> -->
                  {% endif %}
                </ul>
                  </div>
                  <div class="col-5">
                    {% if venue.images %}
                  <img src="{{venue.images.url}}" target="_blank" width="300">
                  {% endif %}
                  </div>
                </div>
              </div>
              <div class="text-center">
                <a id="back" style="padding:8px;text-decoration: none;color: black;" href="{% url 'list-venue' %}">Go Back</a><br><br>
              </div>
          </div>
          
    {% endblock content %}
    
