{% extends 'events/base.html' %}
{% block title_block %}Show Event | My Club{% endblock title_block %}
    {% block content %}
      <h1>Event List</h1>
      <div class="card bg-light mb-3">
        <div class="card-header" style="color:#2196f3;"> <strong> <h4>{{event | title}}</h4> </strong> </div>
          <div class="card-body">
            <h5 class="card-title">Venue: {{event.venue | title}}</h5>
            <ul>
              <li>Date: {{event.event_date}}</li>
              <li>Venue Website: <a href="{{event.venue.web}}" target="_blank">{{event.venue.web}}</a></li>
              <li>Venue Address: {{event.venue.address}}</li>
              <li>Manager: {{event.manager}}</li>
              <li>Description: {{event.description}}</li> 
              <li>Attendees:<br/>
              {% for userattend in event.attendees.all %}
                >{{userattend}}<br> <!-- {{event.attendees.all}} -->
                {% endfor %}
              </li>
            </ul>
        <br>
    </div>
    <div class="text-center">
      <a id="back" style="padding:8px;text-decoration: none;color: black;" href="{% url 'list-events' %}">Go Back</a><br><br>
  </div>
  </div>

      
      <!-- {% for x in object_list %}
        {{x}}
      {% endfor %} -->
    {% endblock content %}
    
