{% extends 'events/base.html' %}
{% block title_block %}Update Venue | My Club{% endblock title_block %}
    {% block content %}
    <h1>Update Venue</h1><hr>
        <div id=""  style="background-color:bisque;" class="col-lg-6 offset-lg-3">
      <form action="" method="POST" style="padding:30px;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class='form-group'>
          {{form.label_tag}} {{form|capfirst}} 
        </div>
          <input type="submit" value="Update" class="btn btn-success btn-sm"> <span class="btn btn-danger btn-sm"> <a href="{% url 'list-venue' %}" style="color:white !important; text-decoration: none;">Cancel</a></span>
      </form>
        </div><br>
      
    {% endblock content %}  
    
