{% extends 'events/base.html' %}
{% block title_block %}Update Event | My Club{% endblock title_block %}
    {% block content %}
    {% if user == event.manager %}
    <h1>Update Event</h1><hr>  
        <div id=""  style="background-color:bisque;" class="col-lg-6 offset-lg-3">
      <form action="" method="POST" style="padding:30px;">
        {% csrf_token %}
        <div class='form-group'>
          {{form.label_tag}} {{form|capfirst}} 
        </div>
          <input type="submit" value="Update" class="btn btn-success btn-sm"> <span class="btn btn-danger btn-sm"> <a href="{% url 'my-events' %}" style="color:white !important; text-decoration: none;">Cancel</a></span><br>
      </form>
      {% elif user.is_superuser %}
      <h1>Update Event</h1><hr>  
        <div id=""  style="background-color:bisque;" class="col-lg-6 offset-lg-3">
      <form action="" method="POST" style="padding:30px;">
        {% csrf_token %}
        <div class='form-group'>
          {{form.label_tag}} {{form|capfirst}} 
        </div>
          <input type="submit" value="Update" class="btn btn-success btn-sm"> <span class="btn btn-danger btn-sm"> <a href="{% url 'list-events' %}" style="color:white !important; text-decoration: none;">Cancel</a></span><br>
      </form>
      {% else %}

      <h2>Access Denied!</h2>
      <p>Only the event's Manager can update this event...</p> <hr>
      <p>Logged in user: {{user}}</p>
      <p>Event Manager: {{event.manager}}</p>
      
      {% endif %}

        </div><br><br>
      
      
    {% endblock content %}  
    
