{% extends 'events/base.html' %}

    {% block content %}
    <div class="row">
      <div class="col-8"><h1>Venue List</h1></div>
      <div class="col-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'venue-text' %}">Text File</a><div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">PDF File</a><div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'venue-csv' %}">CSV File</a>
            </div>
        </div>
      </div>
    </div><hr>
   <center>  
  {% for venue in venues %}
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <table class="table table-hover bg-info">
        <tbody>
          <tr>
          <td>
            <div class="row">
              <div class="col-8">
                <a class="float-left" style="color:white !important; text-decoration: none;" href="{% url 'show-venue' venue.id %}">{{venue.name}}</a>
              </div>
            <!-- <a style="text-decoration: none;" href="{% url 'delete-venue' venue.id %}" class="btn btn-danger btn-sm float-right">Delete Venue</a> -->
            <div class="col-2">
              <a style="text-decoration: none;color: black;" class="btn btn-warning btn-sm float-right" href="{% url 'update-venue' venue.id %}">Update Venue</a>
            </div>
            <div class="col-2">
              <a type="button" style="color:white" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#exampleModalCenter">Delete Venue</a>
            </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalCenterTitle">Venue - {{venue.name}}</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                  <div class="modal-body">
                    <p class="float-lefts">Are you sure want to delete venue?</p>
                  </div>
              <div class="modal-footer">
        <a type="button" style="color:white;" class="btn btn-danger" data-dismiss="modal">Close</a>
        <a type="button" href="{% url 'delete-venue' venue.id %}" style="color:white;" class="btn btn-info">Delete</a>
      </div>
    </div>
  </div>
</div> 
          </td>

            </tr>
        </tbody>
      </table>
      </div>
    </div>
      {% endfor %}
      

<!-- Modal -->

    {% endblock content %}
    
